:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--Light-Grayish-Blue);
  min-height: 100vh;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: clamp(0.813rem, 0.768rem + 0.188vw, 0.938rem);
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 85vw;
  width: 85%;
  max-height:100vh;
  height: auto;
  border-radius: 15px;
  margin-bottom: 30%;
  overflow: hidden;
}

main > * + *,
p {
  margin-top: 0.5rem;
}

.image {
  height: auto;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.desktop {
  padding: 2rem 2rem 1.5rem 2rem;
  margin: 0;
  position: relative;
}
h1 {
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
  font-size: clamp(1.125rem, 1.081rem + 0.188vw, 1.25rem);
  margin: 0;
}

p {
  color: var(--Desaturated-Dark-Blue);
  font-weight: 400;
}

.avatar {
  --size: 40px;
  border-radius: 50%;
  height: var(--size);
  width: var(--size);
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; /*test7a9ha bch lbutton ya3mel flex-end*/
}
.info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.name {
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
}
.date {
  color: var(--Grayish-Blue);
}

button {
  border-radius: 50%;
  height: 2.188rem;
  width: 2.188rem;
  border: none;
  outline: none;
  background-color: var(--Light-Grayish-Blue);
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  -webkit-tap-highlight-color: transparent;
}

button.active {
  background-color: var(--Grayish-Blue);
}

button.active img {
  filter: brightness(10);
}

.share-ico {
  max-height: 100%;
  max-width: 100%;
}
.social-icons {
  background-color: var(--Very-Dark-Grayish-Blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4.688rem;
  gap: 1rem;
  border-radius: 0 0 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: -8rem;
  transition: bottom 0.3s ease-in-out;
}
.social-icons.active {
  bottom: 0;
}
.user-share {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h2 {
  color: var(--Desaturated-Dark-Blue);
  font-weight: 700;
  letter-spacing: 3px;
  margin-left: 2rem;
  font-size: clamp(1rem, 0.956rem + 0.188vw, 1.125rem);
}

@media (min-width: 768px) {
  main {
    margin: 0;
    max-width: 733px;
    width: 100%;
    padding: 0;
    height: 279px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .image {
    width: 50%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    min-width: unset;
    max-width: unset;
  }

  .desktop {
    height: auto;
    position: relative;
  }

  .social-icons {
    background-color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 15px;
    position: absolute;
    top: -8rem;
    left: 125px;
    max-width: 238px;
    width: auto;
    transition: bottom 0.3s ease-in-out;
    z-index: 30;
  }

  .social-icons.active {
    top: 110px;
  }

  /* arrow */
  .social-icons::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 90%;
    transform: translateX(-50%);
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent;
  }
}
